# Byte-compiled files
__pycache__/
*py[cod]
*$py.class


# VSCode settings
.vscode/

# Env
.env

# Test config
config.json

# Test data folders
src/log_analyzer/sample_logs/
src/log_analyzer/exports/

# Package
*.egg-info/
