# Byte-compiled files
__pycache__/
*py[cod]
*$py.class


# VSCode settings
.vscode/

# Env
.env

# Test config
config.json

# Test data folders
src/logan_iq/sample_logs/
src/logan_iq/exports/

# Package
dist/
build/
*.egg-info/
