# Byte-compiled files
__pycache__/
*py[cod]
*$py.class


# VSCode settings
.vscode/

# Env
.env

# Test config
config.json

# Test data folders
sample_logs/
exports/

# Package
dist/
build/
*.egg-info/
